# Arquivos temporários do Oracle
*.log
*.bad
*.dmp
*.trc

# Arquivos de texto extraídos
*.txt

# Arquivos pessoais
fiap_desafio.docx

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
